<div class="cars_container">
  <% cache @car do %>
    <div class="car__item">
      <div class="car__header">
        <div class="car__image-container">
          <% if @car.featured_image.attached? %>
            <%= image_tag @car.featured_image, class: "car__image", alt: "#{@car.make} #{ @car.model}" %>
          <% end %>
        </div>
        <h1 class="car__title">
          <%= @car.make %> - <%= @car.model %>
        </h1>
        <div class="car__details">
          <span class="car__year">Year: <%= @car.year %></span>
          <span class="car__price">Price: <%= number_to_currency(@car.price) %></span>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "inventory", car: @car %>

  <div class="car__navigation">
    <%= link_to t("car.back"), cars_path, class: "car__back-link" %>
    
    <% if authenticated? %>
      <div class="car__admin-links">
        <%= link_to "Edit", edit_car_path(@car), class: "car__edit-link" %>
        <%= button_to "Delete", @car, method: :delete, class: "car__delete-button", data: { turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
</div>